.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 36px;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: var(--primary);
  border-radius: var(--radius-s);
}
