.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 108px;
    padding: 20px 0 24px 0;
    border-top: 1px solid #e7e8ea;

    &-text {
        font-family: var(--text-font);
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: var(--text-02);
    }
}

.contact {
    &-text {
        font-family: var(--text-font);
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: var(--text-02);
    }
}
